@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animations (which are hard to implement using inline Tailwind classnames) */

.burger {
  width: 40px;
  height: 32px;
}

.burger:after,
.burger:before {
  background-color: #3c5e1c;
  border-radius: 2px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

.burger:after {
  transform: scaleX(75%) translateX(6px);
}

.burger--active:before {
  transform: translateY(8px) rotate(135deg);
  background-color: white;
  height: 3px;
}

.burger--active:after {
  transform: translateY(-2px) rotate(-135deg) scaleX(100%);
  background-color: white;
  height: 3px;
}

/* Custom scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3c5e1c;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #283f13;
}

.dark ::-webkit-scrollbar-track {
  background: #283f13;
}

.dark ::-webkit-scrollbar-thumb {
  background: rgb(255 255 255 / 50%);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: rgb(255 255 255 / 80%);
}

pre ::-webkit-scrollbar {
  height: 6px;
  background: transparent;
}

/* Utility styles */

.inner-shadow {
  box-shadow: 0px -45px 80px 5px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px -45px 80px 5px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px -45px 80px 5px rgba(0, 0, 0, 0.75) inset;
}

@media (min-width: 1280px) {
  .inner-shadow {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}

.animate-pop-in {
  animation: pop-in 0.15s ease-in-out;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.green-filter {
  filter: saturate(100%) invert(57%) sepia(20%) saturate(1302%)
    hue-rotate(48deg) brightness(102%) contrast(88%);
}
