@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animations (which are hard to implement using inline Tailwind classnames) */

.burger {
  width: 40px;
  height: 32px;
}

.burger:after,
.burger:before {
  background-color: #244a83;
  border-radius: 2px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

.burger:after {
  transform: scaleX(75%) translateX(6px);
}

.burger--active:before {
  transform: translateY(8px) rotate(135deg);
  background-color: white;
  height: 3px;
}

.burger--active:after {
  transform: translateY(-2px) rotate(-135deg) scaleX(100%);
  background-color: white;
  height: 3px;
}

/* Custom scrollbar */

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: rgb(36 74 131 / 30%);
}

::-webkit-scrollbar-thumb {
  background: rgb(36 74 131 / 60%);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(36 74 131 / 80%);
}

.dark ::-webkit-scrollbar-track {
  background: rgb(36 74 131 / 80%);
}

.dark ::-webkit-scrollbar-thumb {
  background: rgb(255 255 255 / 50%);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: rgb(255 255 255 / 80%);
}

/* Vertical lines on homepage */

.vertical-lines {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 1771 22709' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd%3Bclip-rule:evenodd%3Bstroke-linejoin:round%3Bstroke-miterlimit:2%3B'%3E%3Cg%3E%3Crect x='1317.95' y='0' width='7.63' height='2988.65' style='fill:%23ebebeb%3B'/%3E%3Crect x='1726.98' y='0' width='7.63' height='3247.4' style='fill:%23ebebeb%3B'/%3E%3Crect x='1454.54' y='-0' width='7.63' height='3078.69' style='fill:%23ebebeb%3B'/%3E%3Crect x='1589.91' y='0' width='7.63' height='3165.99' style='fill:%23ebebeb%3B'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M1597.54 3165.92l-7.329 -2.122l-1283.58 4430.85l7.329 2.123l1283.58 -4430.85Z' style='fill:%23ebebeb%3B'/%3E%3Cpath d='M1462.16 3078.7l-7.329 -2.123l-1283.58 4430.85l7.329 2.122l1283.58 -4430.85Z' style='fill:%23ebebeb%3B'/%3E%3Cpath d='M1325.58 2988.68l-7.329 -2.123l-1284.07 4432.53l7.329 2.123l1284.07 -4432.53Z' style='fill:%23ebebeb%3B'/%3E%3Cpath d='M1734.61 3247.37l-7.329 -2.122l-1284.07 4432.53l7.328 2.122l1284.07 -4432.53Z' style='fill:%23ebebeb%3B'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M41.379 16051l-7.199 2.529l1284.2 3657.42l7.199 -2.529l-1284.2 -3657.42Z' style='fill:%23ebebeb%3B'/%3E%3Cpath d='M178.451 15968.8l-7.199 2.529l1283.76 3656.17l7.199 -2.529l-1283.76 -3656.17Z' style='fill:%23ebebeb%3B'/%3E%3Cpath d='M313.786 15881.3l-7.198 2.529l1283.76 3656.17l7.198 -2.528l-1283.76 -3656.17Z' style='fill:%23ebebeb%3B'/%3E%3Cpath d='M450.415 15791.9l-7.198 2.528l1284.19 3657.39l7.198 -2.528l-1284.19 -3657.39Z' style='fill:%23ebebeb%3B'/%3E%3C/g%3E%3Cg%3E%3Crect x='443.217' y='7677.81' width='7.63' height='8117.17' style='fill:%23ebebeb%3B'/%3E%3Crect x='34.18' y='7419.11' width='7.63' height='8634.49' style='fill:%23ebebeb%3B'/%3E%3Crect x='306.623' y='7594.46' width='7.63' height='8289.38' style='fill:%23ebebeb%3B'/%3E%3Crect x='171.252' y='7507.33' width='7.63' height='8464.13' style='fill:%23ebebeb%3B'/%3E%3C/g%3E%3Cg%3E%3Crect x='1317.95' y='19707.9' width='7.63' height='3000.41' style='fill:%23ebebeb%3B'/%3E%3Crect x='1726.98' y='19449.3' width='7.63' height='3259' style='fill:%23ebebeb%3B'/%3E%3Crect x='1454.54' y='19624.9' width='7.63' height='3083.47' style='fill:%23ebebeb%3B'/%3E%3Crect x='1589.91' y='19537.5' width='7.63' height='3170.85' style='fill:%23ebebeb%3B'/%3E%3C/g%3E%3C/svg%3E");
}

.dark .vertical-lines {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 1771 22709' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd%3Bclip-rule:evenodd%3Bstroke-linejoin:round%3Bstroke-miterlimit:2%3B'%3E%3Cg%3E%3Crect x='1317.95' y='0' width='7.63' height='2988.65' style='fill:%23425f8a%3B'/%3E%3Crect x='1726.98' y='0' width='7.63' height='3247.4' style='fill:%23425f8a%3B'/%3E%3Crect x='1454.54' y='-0' width='7.63' height='3078.69' style='fill:%23425f8a%3B'/%3E%3Crect x='1589.91' y='0' width='7.63' height='3165.99' style='fill:%23425f8a%3B'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M1597.54 3165.92l-7.329 -2.122l-1283.58 4430.85l7.329 2.123l1283.58 -4430.85Z' style='fill:%23425f8a%3B'/%3E%3Cpath d='M1462.16 3078.7l-7.329 -2.123l-1283.58 4430.85l7.329 2.122l1283.58 -4430.85Z' style='fill:%23425f8a%3B'/%3E%3Cpath d='M1325.58 2988.68l-7.329 -2.123l-1284.07 4432.53l7.329 2.123l1284.07 -4432.53Z' style='fill:%23425f8a%3B'/%3E%3Cpath d='M1734.61 3247.37l-7.329 -2.122l-1284.07 4432.53l7.328 2.122l1284.07 -4432.53Z' style='fill:%23425f8a%3B'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M41.379 16051l-7.199 2.529l1284.2 3657.42l7.199 -2.529l-1284.2 -3657.42Z' style='fill:%23425f8a%3B'/%3E%3Cpath d='M178.451 15968.8l-7.199 2.529l1283.76 3656.17l7.199 -2.529l-1283.76 -3656.17Z' style='fill:%23425f8a%3B'/%3E%3Cpath d='M313.786 15881.3l-7.198 2.529l1283.76 3656.17l7.198 -2.528l-1283.76 -3656.17Z' style='fill:%23425f8a%3B'/%3E%3Cpath d='M450.415 15791.9l-7.198 2.528l1284.19 3657.39l7.198 -2.528l-1284.19 -3657.39Z' style='fill:%23425f8a%3B'/%3E%3C/g%3E%3Cg%3E%3Crect x='443.217' y='7677.81' width='7.63' height='8117.17' style='fill:%23425f8a%3B'/%3E%3Crect x='34.18' y='7419.11' width='7.63' height='8634.49' style='fill:%23425f8a%3B'/%3E%3Crect x='306.623' y='7594.46' width='7.63' height='8289.38' style='fill:%23425f8a%3B'/%3E%3Crect x='171.252' y='7507.33' width='7.63' height='8464.13' style='fill:%23425f8a%3B'/%3E%3C/g%3E%3Cg%3E%3Crect x='1317.95' y='19707.9' width='7.63' height='3000.41' style='fill:%23425f8a%3B'/%3E%3Crect x='1726.98' y='19449.3' width='7.63' height='3259' style='fill:%23425f8a%3B'/%3E%3Crect x='1454.54' y='19624.9' width='7.63' height='3083.47' style='fill:%23425f8a%3B'/%3E%3Crect x='1589.91' y='19537.5' width='7.63' height='3170.85' style='fill:%23425f8a%3B'/%3E%3C/g%3E%3C/svg%3E");
}

@media screen and (max-width: 426px) {
  .vertical-lines {
    background-size: cover;
  }
}

@media screen and (min-width: 500px) and (max-width: 949px) {
  .vertical-lines {
    background-image: none;
  }

  .dark .vertical-lines {
    background-image: none;
  }
}

@media screen and (min-width: 950px) {
  .vertical-lines {
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 3875 18750' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd%3Bclip-rule:evenodd%3Bstroke-linejoin:round%3Bstroke-miterlimit:2%3B'%3E%3Cg%3E%3Crect x='3041.67' y='0' width='15.26' height='4052.74' style='fill:%23ebebeb%3B'/%3E%3Crect x='3859.74' y='0' width='15.26' height='4405.25' style='fill:%23ebebeb%3B'/%3E%3Crect x='3314.85' y='0' width='15.26' height='4167.98' style='fill:%23ebebeb%3B'/%3E%3Crect x='3585.6' y='0' width='15.26' height='4286.1' style='fill:%23ebebeb%3B'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M3055.68 4052.25l-10.449 -11.121l-3045.23 2861.52l10.45 11.12l3045.23 -2861.51Z' style='fill:%23ebebeb%3B'/%3E%3Cpath d='M3875 4404.93l-10.45 -11.121l-3046.74 2862.93l10.45 11.121l3046.74 -2862.93Z' style='fill:%23ebebeb%3B'/%3E%3Cpath d='M3330.11 4169.24l-10.45 -11.12l-3046.48 2862.69l10.45 11.12l3046.48 -2862.69Z' style='fill:%23ebebeb%3B'/%3E%3Cpath d='M3600.86 4286.35l-10.45 -11.121l-3046.48 2862.69l10.45 11.12l3046.48 -2862.69Z' style='fill:%23ebebeb%3B'/%3E%3C/g%3E%3Cg%3E%3Crect x='-0' y='6903.23' width='15.26' height='6261.44' style='fill:%23ebebeb%3B'/%3E%3Crect x='818.074' y='7256.9' width='15.26' height='5562.77' style='fill:%23ebebeb%3B'/%3E%3Crect x='273.187' y='7020.52' width='15.26' height='6027.59' style='fill:%23ebebeb%3B'/%3E%3Crect x='543.929' y='7138.39' width='15.26' height='5797.5' style='fill:%23ebebeb%3B'/%3E%3C/g%3E%3Cg%3E%3Crect x='3041.67' y='16126.2' width='15.26' height='2623.81' style='fill:%23ebebeb%3B'/%3E%3Crect x='3859.74' y='15782.7' width='15.26' height='2967.28' style='fill:%23ebebeb%3B'/%3E%3Crect x='3314.85' y='16011.3' width='15.26' height='2738.74' style='fill:%23ebebeb%3B'/%3E%3Crect x='3585.6' y='15897.2' width='15.26' height='2852.8' style='fill:%23ebebeb%3B'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M10.658 13153.3l-10.658 10.921l3046.27 2972.73l10.657 -10.921l-3046.27 -2972.73Z' style='fill:%23ebebeb%3B'/%3E%3Cpath d='M828.731 12808.5l-10.657 10.921l3047.39 2973.83l10.657 -10.922l-3047.39 -2973.83Z' style='fill:%23ebebeb%3B'/%3E%3Cpath d='M283.845 13038.1l-10.658 10.921l3046.66 2973.11l10.657 -10.922l-3046.66 -2973.11Z' style='fill:%23ebebeb%3B'/%3E%3Cpath d='M555.521 12925l-10.657 10.921l3045.33 2971.82l10.658 -10.922l-3045.34 -2971.82Z' style='fill:%23ebebeb%3B'/%3E%3C/g%3E%3C/svg%3E");
  }

  .dark .vertical-lines {
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 3875 18750' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd%3Bclip-rule:evenodd%3Bstroke-linejoin:round%3Bstroke-miterlimit:2%3B'%3E%3Cg%3E%3Crect x='3041.67' y='0' width='15.26' height='4052.74' style='fill:%23425f8a%3B'/%3E%3Crect x='3859.74' y='0' width='15.26' height='4405.25' style='fill:%23425f8a%3B'/%3E%3Crect x='3314.85' y='0' width='15.26' height='4167.98' style='fill:%23425f8a%3B'/%3E%3Crect x='3585.6' y='0' width='15.26' height='4286.1' style='fill:%23425f8a%3B'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M3055.68 4052.25l-10.449 -11.121l-3045.23 2861.52l10.45 11.12l3045.23 -2861.51Z' style='fill:%23425f8a%3B'/%3E%3Cpath d='M3875 4404.93l-10.45 -11.121l-3046.74 2862.93l10.45 11.121l3046.74 -2862.93Z' style='fill:%23425f8a%3B'/%3E%3Cpath d='M3330.11 4169.24l-10.45 -11.12l-3046.48 2862.69l10.45 11.12l3046.48 -2862.69Z' style='fill:%23425f8a%3B'/%3E%3Cpath d='M3600.86 4286.35l-10.45 -11.121l-3046.48 2862.69l10.45 11.12l3046.48 -2862.69Z' style='fill:%23425f8a%3B'/%3E%3C/g%3E%3Cg%3E%3Crect x='-0' y='6903.23' width='15.26' height='6261.44' style='fill:%23425f8a%3B'/%3E%3Crect x='818.074' y='7256.9' width='15.26' height='5562.77' style='fill:%23425f8a%3B'/%3E%3Crect x='273.187' y='7020.52' width='15.26' height='6027.59' style='fill:%23425f8a%3B'/%3E%3Crect x='543.929' y='7138.39' width='15.26' height='5797.5' style='fill:%23425f8a%3B'/%3E%3C/g%3E%3Cg%3E%3Crect x='3041.67' y='16126.2' width='15.26' height='2623.81' style='fill:%23425f8a%3B'/%3E%3Crect x='3859.74' y='15782.7' width='15.26' height='2967.28' style='fill:%23425f8a%3B'/%3E%3Crect x='3314.85' y='16011.3' width='15.26' height='2738.74' style='fill:%23425f8a%3B'/%3E%3Crect x='3585.6' y='15897.2' width='15.26' height='2852.8' style='fill:%23425f8a%3B'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M10.658 13153.3l-10.658 10.921l3046.27 2972.73l10.657 -10.921l-3046.27 -2972.73Z' style='fill:%23435f89%3B'/%3E%3Cpath d='M828.731 12808.5l-10.657 10.921l3047.39 2973.83l10.657 -10.922l-3047.39 -2973.83Z' style='fill:%23435f89%3B'/%3E%3Cpath d='M283.845 13038.1l-10.658 10.921l3046.66 2973.11l10.657 -10.922l-3046.66 -2973.11Z' style='fill:%23435f89%3B'/%3E%3Cpath d='M555.521 12925l-10.657 10.921l3045.33 2971.82l10.658 -10.922l-3045.34 -2971.82Z' style='fill:%23435f89%3B'/%3E%3C/g%3E%3C/svg%3E");
  }
}
